# Python
__pycache__/
*.pyc
.venv/
venv/

# Django
backend/media/
*.sqlite3

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
